:root[data-theme="Light"] {
    --primaryColor: darkkhaki;
    --secondaryColor: #e4d7b2;
    --textColor: #000000;
    --backgoundColor: #ede6d4;
    --inactiveColor:#413a29;
    --activeColor:#755d22;
}

[data-theme="Dark"] {
    --primaryColor: #131438;
    --secondaryColor: #212240;
    --textColor: #a06a45;
    --backgoundColor: #4e4f6f;
    --inactiveColor:#0c232a;
    --activeColor:#0b3946;
}
